<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <link href="https://fonts.googleapis.com/css?family=Bellefair|Josefin+Sans|Pinyon+Script|Dancing+Script|Great+Vibes&display=swap" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="css/entypo.woff">
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <script
         src="https://code.jquery.com/jquery-3.4.1.min.js"
         integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
         crossorigin="anonymous"></script>
      <title>Wedding invitation</title>
   </head>
   <body>
      <div class="block">
         <img src="images/3.jpg" data-speed="-1" class="img-parallax">
         <div class="header slide-1  particletext hearts">
            <img src="images/header-dec.svg" class="desk-top">
            <img src="images/header-dec-mobile.svg" class="mobile">
            <div class="content">
               <h1>
                  Welcome to our wedding website
               </h1>
               <span class="names">
                  <p> Arunkumar </p>
                    <span class="entypo-heart"></span>
                  <p> Sandhya </p>
               </span>
               <h4>13th & 14th Feb 2020</h4>
            </div>
         </div>
      </div>
      <div class="caricature-block">
        <div class="caricature-div">
          <img src="images/caricature1.jpg" alt="caricature" class="caricature">
        </div>
        <div class="content-div">
          
            <img src="images/flower-head.png" alt="flower" class="flower">
            <div class="invitation-content">
              <p>Two love birds who are about to be married would like to invite a very special friend - you. Please be there the day our dreams come true!</p>
              <div class="personal-img"></div>
              <p class="name">
                - Arun & Sandhya
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
              </p> 

            </div>

            <img src="images/flower-bottom.png" alt="flower-bottom" class="flower-bottom">
        </div>
      </div>
      <div class="train-block">
        <div id="trainMotion">
          <img src="images/orange-train.png" alt="Train" class="train">
        </div>

        <div class="container">
          <p class="title">Venue:</p>
          <div class="reception1">
            <p><u>Reception Chennai</u></p>
            <p>13th February 2020 at 7:00PM</p>
            <p> 
              <p>TRS Mahal</p>
              C.V Naidu Road, 
              Tiruvallur - 602001 
             </p> 
             <a href="https://www.google.com/maps/place/TRS+Marriage+Mahal/@13.1414862,79.9025841,18z/data=!4m5!3m4!1s0x0:0xda00790bd45af697!8m2!3d13.1414339!4d79.90337" target="_blank"> 
               <img src="images/trs.png" height="100px" width="200px">
             </a>
           </div>
          <div class="wedding">
            <p><u>Wedding</u></p>
            <p>14th February 2020 at 06:00AM to 07:30AM</p>
            <p> 
              <p>TRS Mahal</p>
              C.V Naidu Road, 
              Tiruvallur - 602001 
             </p> 
             <a href="https://www.google.com/maps/place/TRS+Marriage+Mahal/@13.1414862,79.9025841,18z/data=!4m5!3m4!1s0x0:0xda00790bd45af697!8m2!3d13.1414339!4d79.90337" target="_blank"> 
               <img src="images/trs.png" height="100px" width="200px">
             </a>
           </div>
           <div class="reception2">
            <p><u>Reception Mumbai</u></p>
            <p>23rd February 2020 at 7:00PM</p>
            <p> 
              <p>Century Rayon Club, New Hall</p>
              Shahad, Ulhasnagar, Maharashtra - 421103
             </p>
             <a href="https://www.google.com/maps/place/Century+rayon+club+Shahad/@19.2493883,73.166011,17z/data=!3m1!4b1!4m5!3m4!1s0x3be7941d6d77edc3:0x77ad0bd707a804c8!8m2!3d19.2493832!4d73.1681997" target="_blank"> 
                <img src="images/century-rayon.png" height="100px" width="200px">
              </a>
           </div>
        </div>
      </div>
      <script type="text/javascript" src="js/script.js"></script>
   </body>
</html>